<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/admin :: mainContentAdmin('INDEX HOTEL', ~{this :: #main-content},~{this:: #css},~{this :: #script})">

<head>

</head>

<body>
	<div id="css">

	</div>
	<div id="main-content">
		<div class="container">
			<div class="search">
				<form method="get">
					<div class="form-group">
						<label for="exampleInputEmail1">Email</label>
						<input type="text" class="form-control" name="email" id="searchByEmail"
							aria-describedby="emailHelp">

					</div>
				</form>
			</div>
			<div class="list-account">

				<th:block th:each="account , i : ${accounts}">
					<th:block th:insert="admin/account/box :: .box-info"></th:block>
				</th:block>
			</div>
		</div>

	</div>
	<div id="script">
		<script>
			// Get the modal
			var modal = document.getElementById("myModal");

			// Get the image and insert it inside the modal - use its "alt" text as a caption
			var img = document.getElementById("myImg");
			var modalImg = document.getElementById("img01");
			var captionText = document.getElementById("caption");
			img.onclick = function () {
				modal.style.display = "block";
				modalImg.src = this.src;
				captionText.innerHTML = this.alt;
			}

			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];

			// When the user clicks on <span> (x), close the modal
			span.onclick = function () {
				modal.style.display = "none";
			}
		</script>
		<script>

			document.getElementById('searchByEmail').addEventListener('keyup', (e) => {
				var email = document.getElementById('searchByEmail').value.trim().toLowerCase();
				var accounts = document.querySelectorAll('.list-account .box-info');

				accounts.forEach((account) => {
					account.style.display = 'block';
					var nameEmail = account.getAttribute('name').toString().toLowerCase();
					if (email.length > 0 && !nameEmail.includes(email)) {
						account.style.display = 'none';
					}
				});
			});
		</script>
	</div>
</body>

</html>