<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/admin :: mainContentAdmin('INDEX HOTEL', ~{this :: #main-content},~{this:: #css},~{this :: #script})">

<head>

</head>

<body>
	<div id="css">

	</div>
	<div id="main-content">
		<h4>Content</h4>
		<!-- thằng này ko cần chỉnh csss-->
		<div id="formOutBody">
			<input type="checkbox" style="display: none;" readonly th:checked="${checkEdit}" id="checkEdit">
		<!---->
		<form id="formSubmit" method="post" th:action="@{${urlForm}}" enctype="multipart/form-data">
			
			<input id="mainPhoto" readonly style="display: none;" type="text" th:field="${hotel.mainPhoto}">
			<input id="status"  readonly style="display: none;" type="text" th:field="${hotel.status}">
			<input id="secondaryPhoto" readonly style="display: none;" type="text" th:field="${hotel.secondaryPhoto}">
			<input id="idPrimary" readonly style="display: none;" type="text" th:field="${hotel.idAccount}">
			<input id="idHandler" readonly style="display: none;" type="text" th:field="${hotel.idHandler}">
			<h1>Nhớ sắp xếp lại vị trí đi </h1>
			
			<label>Name:</label>
			<input id="nameHotel" type="text" th:field="${hotel.name}">
			<br>
			<label>Cancellation Policy:</label>
			<textarea id="cancellationPolicy"  
			th:field="${hotel.cancellationPolicy}"></textarea>
			<br>
			
			<label>Description:</label>
			<textarea id="description"  th:field="${hotel.description}"></textarea>
			<br>
			<label>Rating:</label>
			<input id="rating" type="number" min="0" max="5" th:field="${hotel.rating}">
			<br>
			<label>Manager:</label>
			<input id="manager" type="text" th:field="${hotel.manager}">
			<br>

			<label>Main Photo:</label>
			<input id="mainPhotoInput" name="mainPhoto123" accept=".jpg,.png,.gif" type="file" >
			<br>
			<label>Secondary Photo:</label>
			<input id="secondaryPhotoInput" name="secondaryPhoto123" accept=".jpg,.png,.gif" type="file" >

			<br>
			<label>Regulation:</label>
			<textarea id="regulation" 
			th:field="${hotel.regulation}"></textarea>
			
			<th:block
			th:if="${checkEdit==true}"><h1>Edit
				
			</h1></th:block>
			<input id="address" style="display: none;" type="text" th:field="${hotel.address}">		
			<th:block th:if="${checkEdit==true}">
			<br>
			<label>Address:</label>
			<h1>//cái này dài hết cỡ cho tao </h1>
				<input class="w-100" readonly th:value="
			${#strings.substringBefore(hotel.address, ';')}">
			
		
			</th:block>
			
			
			<div>
				<select class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm">
					<option value="" selected>Chọn tỉnh thành</option>
				</select>

				<select class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm">
					<option value="" selected>Chọn quận huyện</option>
				</select>

				<select class="form-select form-select-sm" id="ward" aria-label=".form-select-sm">
					<option value="" selected>Chọn phường xã</option>
				</select>
				<label>Address Home:</label>
				<input id="chanAdress" type="text">

			</div>
			

			
		


			<button type="reset">Reset</button>

			<button type="submit">Submit</button>

		</form>
		</div>
		
		
		


	</div>
	<div id="script">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
		<script>
			var citis = document.getElementById("city");
			var districts = document.getElementById("district");
			var wards = document.getElementById("ward");
			var Parameter = {
				url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
				method: "GET",
				responseType: "application/json",
			};
			var promise = axios(Parameter);
			promise.then(function (result) {
				renderCity(result.data);
			});

			function renderCity(data) {
				for (const x of data) {
					citis.options[citis.options.length] = new Option(x.Name, x.Id);
				}
				citis.onchange = function () {
					district.length = 1;
					ward.length = 1;
					if (this.value != "") {
						const result = data.filter(n => n.Id === this.value);

						for (const k of result[0].Districts) {
							district.options[district.options.length] = new Option(k.Name, k.Id);
						}
					}
				};
				district.onchange = function () {
					ward.length = 1;
					const dataCity = data.filter((n) => n.Id === citis.value);
					if (this.value != "") {
						const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

						for (const w of dataWards) {
							wards.options[wards.options.length] = new Option(w.Name, w.Id);
						}
					}
				};
			}
		</script>
		<script>
			$('#formSubmit').submit(function (e) {
			
				var isChecked = $("#checkEdit").is(":checked");
				var cityValue = $('#city option:selected');
				var districtValue = $('#district option:selected');
				var wardValue = $('#ward option:selected');
				if(isChecked){
					// nó sẽ kiểm tra coi có chọn phần tử city chưa
					if(
						!(/^\d+$/.test(cityValue.val()))){
							e.preventDefault();
						return ;
					}else {
						if(
						!(/^\d+$/.test(wardValue.val()))){
							e.preventDefault();
						alert("Address is not full !");
						return ;
						}
					}
					
				};
				
				
				var addressHomeValue = $('#chanAdress').val();

				var addressValue = cityValue.text() + " - " + districtValue.text() + " - " + wardValue.text() + " - " + addressHomeValue +";";
				addressValue += "city:"+cityValue.val()
				+";district:"+districtValue.val()+";ward"+wardValue.val()+";"
				$('#address').val(addressValue);
				

			});
		</script>


	</div>
</body>

</html>