<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/admin :: mainContentAdmin('INDEX HOTEL', ~{this :: #main-content},~{this:: #css},~{this :: #script})">

<head>

</head>

<body>
	<div id="css">
		<style>

		</style>
	</div>
	<div id="main-content">
		
		<div class="row" th:if="${accountCensus!=null}">
			<div class="col-lg-3 col-6">

				<div class="small-box bg-info">
					<div class="inner">
						<h3 th:text="${accountCensus.total_hotel_active}"></h3>
						<p>Hotel</p>
					</div>
					<div class="icon">
						<i class="fa-solid fa-hotel"></i>
					</div>
					<a href="#" class="small-box-footer"></a>
				</div>
			</div>

			<div class="col-lg-3 col-6">

				<div class="small-box bg-success">
					<div class="inner">
						<h3 th:text="${accountCensus.total_hotel_null_status}"></h3>
						<p>New Hotel</p>
					</div>
					<div class="icon">
						<i class="fa-sharp fa-thin fa-sparkles"></i>
					</div>
					<a href="#" class="small-box-footer"></a>
				</div>
			</div>

			<div class="col-lg-3 col-6">

				<div class="small-box bg-warning">
					<div class="inner">
						<h3 th:text="${accountCensus.total_account_role_2}"></h3>
						<p>User Registrations</p>
					</div>
					<div class="icon">
						<i class="ion ion-person-add"></i>
					</div>
					<a href="#" class="small-box-footer"></a>
				</div>
			</div>

			<div class="col-lg-3 col-6">

				<div class="small-box bg-danger">
					<div class="inner">
						<h3 th:text="${accountCensus.total_hotel_null_status}"></h3>
						<p>Inactice Hotel</p>
					</div>
					<div class="icon">
						<i class="ion ion-pie-graph"></i>
					</div>
					<a href="#" class="small-box-footer"></a>
				</div>
			</div>

		</div>
		<br>
		<div class="row p-2">
			<div class="card card-success col-12 p-2">
				<div class="card-header">
					<h3 class="card-title">Bar Chart</h3>

					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
						<button type="button" class="btn btn-tool" data-card-widget="remove">
							<i class="fas fa-times"></i>
						</button>
					</div>
				</div>
				<div class="card-body">
					<div class="chart">
						<canvas id="barChart"
							style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
					</div>
				</div>
				<!-- /.card-body -->
			</div>
		</div>
		<input type="hidden" id="biilCensua" th:value="${biilCensua}">
	</div>
	<div id="script">
		<script>
			$(function () {
				/* ChartJS
				 * -------
				 * Here we will create a few charts using ChartJS
				 */

				//--------------
				//- AREA CHART -
				//--------------

				// Get context with jQuery - using jQuery's .get() method.
				// Lấy giá trị từ input
				var inputValue = $('#biilCensua').val();
				
				// Chuyển đổi giá trị sang mảng số
				var data = inputValue.slice(1, -1).split(",").map(function(value) {
  return parseFloat(value);
});

				// Khai báo biến mảng số
				var dataArray = data;
				console.log(dataArray);
				var areaChartData = {
					labels: ['January', 'February', 'March', 'April',
						'May', 'June', 'July', 'August', 'September'
						, 'October', 'November', 'December','Now'],
					datasets: [
						{
							label: 'Total',
							backgroundColor: 'rgba(60,141,188,0.9)',
							borderColor: 'rgba(60,141,188,0.8)',
							pointRadius: false,
							pointColor: '#3b8bba',
							pointStrokeColor: 'rgba(60,141,188,1)',
							pointHighlightFill: '#fff',
							pointHighlightStroke: 'rgba(60,141,188,1)',
							data: dataArray
						},

					]
				}


				//
				var barChartCanvas = $('#barChart').get(0).getContext('2d')
				var barChartData = $.extend(true, {}, areaChartData)
				var temp0 = areaChartData.datasets[0]


				barChartData.datasets[0] = temp0

				var barChartOptions = {
					responsive: true,
					maintainAspectRatio: false,
					datasetFill: false
				}

				new Chart(barChartCanvas, {
					type: 'bar',
					data: barChartData,
					options: barChartOptions
				})

				//---------------------
				//- STACKED BAR CHART -
				//---------------------

			})
		</script>
	</div>
</body>

</html>