<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/admin :: mainContentAdmin('INDEX HOTEL', ~{this :: #main-content},~{this:: #css},~{this :: #script})">

<head>

</head>

<body>
	<div id="css">

	</div>
	<div id="main-content">
		<h4>Content</h4>
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">DataTable with minimal features & hover style</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<h1>Chỉnh màu theo status đi status ==false thì thêm cái gì nhấn mạnh đi
									//////2 cái image chỉnh để chỗ nào nhìn đẹp đi


								</h1>
								<table id="example2" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>Name</th>
											<th>Address</th>
											<th>Rating</th>
											<th>Status</th>
											<th>Secondary Photo</th>
											<th>Main Photo</th>
											<th>Description</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="hotel :${hotels}">
											<tr>
												<td th:text="${hotel.name}"></td>
												<td th:text="${hotel.rating}"></td>
												<td th:text="${#strings.substringBefore(hotel.address, ';')}"></td>
												<td
													th:text="${hotel.status==true?'Operating company':'Dormant company'}">
												</td>
												<td>
													<img class="img-fluid h-100"
														th:src="${urlImagesHotelMain}+'/'+${hotel.secondaryPhoto}">
												</td>
												<td><a th:href="@{${adminHotel+'/edit/'+hotel.id}}"><button class="btn btn-primary">Edit</button></a
												<td>
													<img class="img-fluid h-100"
														th:src="${urlImagesHotelMain}+'/'+${hotel.mainPhoto}">
												</td>
												<td th:text="${hotel.description}"></td>
											</tr>
										</th:block>
									</tbody>
									<tfoot>
										<tr>
											<th>Name</th>
											<th>Address</th>
											<th>Rating</th>
											<th>Status</th>
											<th>Secondary Photo</th>
											<th>Main Photo</th>
											<th>Description</th>

										</tr>
									</tfoot>
								</table>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
	</div>
	<div id="script">

	</div>
</body>

</html>