<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/admin :: mainContentAdmin('INDEX HOTEL', ~{this :: #main-content},~{this:: #css},~{this :: #script})">

<head>

</head>

<body>


	<section class="sec-rooms-scroll">
		<h1>Room</h1>
		<div class="card">
			<div class="card-header">

				<form method="post" th:action="@{${urlForm+'/allRoom'}}">
					<div class="row">
						<div class="col-xl-6  col-md-12 form-group">
							<label for="reasonDiscountAll">Reason Discount </label>
							<input id="reasonDiscountAll" class="form-control" type="text" name="reasonDiscountAll"
								maxlength="50">
						</div>
						<div class="col-xl-2 col-lg-3  col-md-12 form-group">
							<label for="scaleDiscountAll">Scall ALl</label>
							<input name="scaleDiscountAll" id="scaleDiscountAll" class="form-control" value="0" min="0"
								max="99" price="scale" type="number">
						</div>
						<div class="col-xl-1 col-lg-2  col-md-12 form-group">
							<label style="visibility: hidden">.</label>
							<button class="btn btn-primary form-control" type="submit">Save</button>
						</div>

					</div>


				</form>
				<a th:href="@{${adminRoom+'/create/'+hotel.idAccount}}">
					<button class="btn btn-primary">Add +</button></a>
			</div>
			<div class="card-body p-2 rooms  rooms-scroll">
				<th:block th:each="room :${hotel.rooms}">
					<div class="box-room">
						<div th:class="wrapper">
							<!--<div class="image">
									<img
										src="https://ik.imagekit.io/tvlk/generic-asset/dgXfoyh24ryQLRcGq00cIdKHRmotrWLNlvG-TxlcLxGkiDwaUSggleJNPRgIHCX6/hotel/asset/10028130-1000x667-FIT_AND_TRIM-db5321e53d5b92f0a47f01fd84a920fb.jpeg?_src=imagekit&tr=dpr-2,c-at_max,h-144,q-40,w-287">
								</div>-->
							<div class="content">
								<div class="title">

									<h2 class="fz-24 color-black">

										<span th:if="${room.reasonDiscount !=null && room.reasonDiscount != ''}"
											class="sale" th:text="${room.reasonDiscount}"></span>

										<th:block th:text="${room.name}"></th:block>
									</h2>
								</div>
								<p th:text="${room.describes}" class="description"></p>
								
								<th:block th:if="${room.priceDiscount >0}">
									<p class="price-sale"><span>₫ <th:block
												th:text="${#numbers.formatDecimal(room.priceDiscount, 0, 'COMMA', 0, 'POINT')}">
											</th:block>
										</span></p>

									<p class="price"><span>₫<th:block
												th:text="${#numbers.formatDecimal(room.price, 0, 'COMMA', 0, 'POINT')}">
											</th:block></span>
										-<th:block
											th:text="${#strings.substringBefore((100 - (room.priceDiscount / room.price) * 100), '.')}">
										</th:block>%
									</p>
								</th:block>
								<th:block th:if="${room.priceDiscount <=0}">
									<p class="price-sale"><span>₫ <th:block
												th:text="${#numbers.formatDecimal(room.price, 0, 'COMMA', 0, 'POINT')}">
											</th:block>
										</span></p>
								</th:block>


								<div class="evaluate">
									<!--<div class="row">
											<div class="col-md-6">
												<div class="box-rating" style="--percent: 90%">
													<div class="rating">
														<div class="star yellow">
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
															<i class="fa-solid fa-star"></i>
														</div>
													</div>
													<div class="star grey">
														<i class="fa-solid fa-star"></i>
														<i class="fa-solid fa-star"></i>
														<i class="fa-solid fa-star"></i>
														<i class="fa-solid fa-star"></i>
														<i class="fa-solid fa-star"></i>
													</div>
												</div>

											</div>
											<div class="col-md-6">

											</div>
										</div>-->
									<div class="buttons">
										<a th:href="@{${adminRoom+'/edit/'+hotel.idAccount+'/'+room.id}}"
											class="btn btn-booknow">Edit</a>
									</div>
								</div>

							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</section>



</body>

</html>