:root {
    --color-main: rgba(1, 148, 243, 1.00);
    --color-gray: rgba(205, 208, 209, 1.00);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
}

.fs-48 {
    font-size: 48px;
    line-height: 6cqb;
}

.fs-32 {
    font-size: 32px;
    line-height: 42px;
}

.fs-22 {
    font-size: 22px;
    line-height: 32px;
}

.fs-18 {
    font-size: 18px;
    line-height: 24px;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.mb-31 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-5 {
    margin-bottom: 50px;
}

.mb-6 {
    margin-bottom: 60px;
}

.mb-7 {
    margin-bottom: 70px;
}

.mb-8 {
    margin-bottom: 80px;
}

.mb-9 {
    margin-bottom: 90px;
}

.mb-10 {
    margin-bottom: 100px;
}

.color-main {
    color: var(--color-main);
}

.color-gray {
    color: var(--color-gray);
}

.color-white {
    color: var(--color-white);
}

.color-black {
    color: var(--color-black);
}

.text-center {
    text-align: center;
}

.banner {
    height: auto;
    min-height: 600px;
    background-image: url(https://ik.imagekit.io/tvlk/image/imageResource/2023/09/27/1695776209619-17a750c3f514f7a8cccde2d0976c902a.png?tr=dpr-2,q-75,w-200);
    background-position: centers center;
    background-size: cover;
    background-repeat: no-repeat;
}

#gallery {
    display: flex;
    justify-content: center;
    margin: 0 -10px;
    flex-wrap: wrap;
}

#gallery .image {
    flex: 0 0 50%;
    height: 100px;
    object-fit: cover;
    max-width: 50%;
    padding: 0 10px;
   margin-bottom: 20px;
   
}
#gallery .image img{
	width:100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}
#gallery .single-image {
	width:100%;
	height: 340px;
	
}
#gallery .single-image img{
	width:100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.main-content {
    position: relative;
}

.popup-gallery {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000d6;
    z-index: 99999999;
}

.popup {
    max-width: 1280px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.popup .close {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 30px;
    text-decoration: none;
}

.popup .close svg {
    fill: #fff;
    width: 20px;
}

.popup .list-img {
    display: flex;
    justify-content: center;
    margin: 0 -20px;
}

.popup .list-img .img-wrapper {
    padding: 0 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: auto;
    max-height: 100px;
}

.popup .list-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.popup .list-img img.active {
    border: 3px solid #3d82ed;
}

.popup .list-img img.none {
    display: none;
}

.popup .single-img {
    margin-bottom: 50px;
    text-align: center;
}
.popup .list-img .img-wrapper.none{
	display: none;
}
.popup .single-img .img-wrapper img {
    max-height: 400px;
}

.popup .categories {
    text-align: center;
    margin-bottom: 50px;
}

.popup .categories button {
    color: #fff;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.box-info{
	background-color: rgba(255,255,255,1.00);
	border: 1px solid rgba(205,208,209,1.00);
	border-radius: 5px;
	padding: 10px;
}
.box-info .b-head{
	display: flex;
	align-items: center;
	margin:0 -20px;
	
}
.box-info .b-head .avatar{
	flex: 0 0 30%;
	max-width: 30%;
	padding: 0 20px;
}
.box-info .b-head .info{
	flex: 0 0 70%;
	max-width: 70%;
	padding: 0 20px;
}
.box-info .b-head .info .title{
	color:black;
}
.box-info .b-body{
	border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 20px 0;
}
.box-info a{
	cursor: pointer;
	color: #000000;
	font-size: 18px;
	
}
.box-info a:hover{
	
	color:rgba(1,148,243,1);

	
}
.box-info i{
	margin-right: 10px;
}
.box{
    background-color: rgba(255,255,255,1.00);
    border: 1px solid rgba(205,208,209,1.00);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 5px 5px 3px rgba(205,208,209,0.7);

}

.box-update form{
	display: flex;
	flex-wrap: wrap;
	margin:0 -20px;
	justify-content: center;
}
.box-update form .field{
	flex : 0 0 50%;
	max-width: 50%;
	padding: 0 20px;
	margin-bottom: 20px;
} 
.box-update form .field label,
.box-update form .field input{
	display: block;
	width: 100%;
}
.box-update form .field input{
	height: 40px;
	color:#000000;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid !important;
}
.box-update .submit{
	width: 100%;
}
button.btn-submit {
    border: none;
    background: rgba(1,148,243,1);
    height: 50px;
    width: 100px;
    line-height: 50px;
    display: block;
    margin: auto;
    font-size: 22px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.preloader-circle{
	
}

/* variables */
.box-rating {
  --star-fill-color: yellow;
  --star-grey-color: #777;
  --box-border-color: #777;
  --box-padding: 10px 0;
}

.box-rating {
 
  padding: var(--box-padding);
  width: min-content;
  font-size: 16px;
  color: var(--star-grey-color);
  position: relative;
      z-index: 1;
}

.box-rating .star {
  display: flex;
}

.box-rating .star.yellow {
  color: var(--star-fill-color);
}
.box-rating .star.grey {
  color: var( --star-grey-color);
}
.box-rating .rating {
  width: var(--percent, 0%);
  height: 100%;
  overflow: hidden;
}

.box-rating .grey {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: -1;
}
/* box room*/
.box-room .wrapper {
	position: relative;
	background: #fff;
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	
}
.box-room img{
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 20px 20px 0 0 ;
}
.box-room .title span{
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	background: #ff2f76;
	padding: 5px 10px;
	border-radius: 5px;
	    vertical-align: middle;
}
.box-room .content{
	padding: 20px;
	overflow: hidden;
}
.box-room .title h2{
	font-size: 20px;
	overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.box-room  .description{
	 overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   color: #9e9e9e;
 
}
.box-room .status{
	 color: #333;
	 font-size: 15px;
}
.box-room .price{
	 color: #333;
	 
}
.box-room .price {

	font-size: 20px;
}
.box-room .price span{
	color:#9e9e9e;
	 text-decoration-line: line-through;
	 
}
.box-room .price-sale span{
	 color: rgb(255, 94, 31);
	 
	 font-size: 26px;
	 font-weight: 700;
}
.box-room .evaluate {
	display: flex;
	align-items: center;
	gap: 10px;
}
.box-room .evaluate a.rating{
	color:#9e9e9e;
	
}

.box-room p{
	margin-bottom: 0px !important;
}
.box-room .buttons{
	text-align: end;
}
.btn-booknow {
    padding: 5px 10px !important;
    color: #fff !important;
    background: rgb(255, 94, 31);
    font-size: 16px !important;
    font-weight: 600 !important;
}
.rooms {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -20px;
}

.rooms .box-room{
	flex: 0 0 25%;
	padding: 0 20px;
	margin-bottom: 20px;
}
.rooms.rooms-scroll {
    max-height: 970px;
    overflow: scroll;
    background: #fff;
    padding: 20px;
    -webkit-overflow-scrolling: touch;
}
.single_portfolio_item{
	height: auto !important;
	overflow: unset !important;
}
.detai-hotels .box-room {
	width: 100%;
}
.detai-hotels .box-room .wrapper{
	display: flex;
	max-height: 280px;
}
.detai-hotels .box-room .image{
	flex: 0 0 40%;
	max-width: 40%;
}
.detai-hotels .box-room img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}
.detai-hotels .box-room .content{
	flex: 0 0 60%;
	max-width: 60%;
}
.box-room-detail {
	
}