<div class="sec-bill-detail">
	<div class="box-bill-detail-1 box  box-bill-detail mb-30">
		<div class="wrapper">
			<div class="header">
				<h6 class="fs-20 fw-700 color-white">
					<th:block th:text="${
				billDetail.bill.status == '1' ? 'Paid' :
				billDetail.bill.status == '2' ? 'Live In' :
				billDetail.bill.status == '3' ? 'Completed' :
				billDetail.bill.status == '4' ? 'Completed' : 'Cancelled'
			}"></th:block>
				</h6>
			</div>
			<div class="content product_details_tab">
				<p class="text-center mb-30 fs-18 fw-700 color-black">Code : <th:block th:text="${billDetail.id}">
					</th:block>
				</p>
				<th:block th:if="${billDetail.bill.status == '3'}">
					<a th:href="@{'/hotel/booking/' + ${billDetail.room.id}}" class="btn-bg">Rebooking</a>
					<button type="button" class="btn-outline mb-30" data-toggle="modal" data-target="#exampleModal" ><Strong>Send Evaluate</Strong></button>
					<!-- <a class="btn-outline mb-30" data-target="#exampleModal" data-whatever="@mdo">Send Evaluate</a> -->
				</th:block>
				<th:block th:if="${billDetail.bill.status == '4'}">
						<div class="review-rating">

						<th:block th:each="i : ${#numbers.sequence(1, eva.number)}"> 
							<i class="fa fa-star" aria-hidden="true"></i>
						</th:block><br>
						<label for="">Coment: <th:block th:text="${eva.comment}"></th:block></label>
					</div>
					<a th:href="@{'/hotel/booking/' + ${billDetail.room.id}}" class="btn-bg">Rebooking</a>
				</th:block>
				
				<th:block th:if="${billDetail.bill.status == '1'}">
				<a id="cancelLink" class="btn btn-danger" th:href="@{'/bill/cancel/' + ${billDetail.id}}">Cancel</a>
				</th:block>
			</div>
		</div>
	</div>

	<div class="box-bill-detail-2 box  box-bill-detail mb-30">
		<div class="wrapper">
			<div class="image">
				<img th:src="@{'/assets/images/hotel/main/'+${billDetail.room.hotel.mainPhoto}}">
			</div>
			<div class="content">
				<h6 th:text="${billDetail.room.hotel.name}" class="fs-22 fw-700 color-black mb-2"></h6>

				<p class="phone">Phone Hotel : <a th:href="@{'tel:'+${billDetail.room.hotel.account.phone}}"
						th:text="${billDetail.room.hotel.account.phone}"></a></p>

			</div>
			<div class="footer">
				<div class="check">
					<div class="wrapper">
						<div class="CheckIn">
							<p>Check In Date</p>
							<strong class="color-black">
								<th:block th:text="${billDetail.bill.checkInFrom}"></th:block>
							</strong>
						</div>
						<div><strong th:text="${billDetail.numberDay + ' Number of Night'}"></strong></div>
						<div class="CheckOut">
							<p>Check Out Date</p>
							<strong class="color-black">
								<th:block th:text="${billDetail.bill.checkOutFrom}"></th:block>
							</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="box-bill-detail-3 box  box-bill-detail mb-30">
		<div class="wrapper">

			<div class="content p-20">
				<h6 th:text="'Cancellation policy'" class="fs-22 fw-700 color-black mb-2"></h6>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
					and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
					leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
					with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
					publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>

		</div>
	</div>
	<div class="box-bill-detail-4 box  box-bill-detail mb-30">
		<div class="wrapper">

			<div class="content p-20" style="border-bottom: 1px solid;">
				<h6 th:text="'Information about leprosy'" class="fs-22 fw-700 color-black mb-2"></h6>
				<div class="row">

					<div class="col-md-3">
						<img th:src="@{'/assets/images/hotel/main/'+${billDetail.room.hotel.mainPhoto}}">
					</div>
					<div class="col-md-9">
						<p th:text="${billDetail.room.name}" class="fs-18 fw-600 color-black mb-2"></p>
					</div>
				</div>
			</div>
			<div class="footer p-20">
				<p th:text="${billDetail.room.describes}"></p>
			</div>
		</div>
	</div>
	<div class="box-bill-detail-5 box  box-bill-detail mb-30">
		<div class="wrapper">
			<div class="header p-20" style="border-bottom: 1px solid;">
				<h6 th:text="'Payment information'" class="fs-22 fw-700 color-black mb-2"></h6>
				<div class="row">
					<div class="col-12">
						<p class="fs-18 fw-500 color-black">Main guest: </p>

					</div>
					<div class="col-12">
						<p th:text="${billDetail.bill.name}" class="fs-16 color-black"></p>

					</div>
				</div>
			</div>
			<div class="content p-20" style="border-bottom: 1px solid;">
				<div class="row">
					<div class="col-6">
						<p class="fs-16 color-black">Price</p>

					</div>
					<div class="col-6 " style="text-align: end;">
						<p th:text="${billDetail.price}" class="fs-16 color-black"></p>
					</div>
					<div class="col-6">
						<p class="fs-16 color-black">Price Discount</p>

					</div>
					<div class="col-6 " style="text-align: end;">
						<p th:text="${billDetail.priceDiscount}" class="fs-16 color-black"></p>
					</div>

				</div>


			</div>
			<div class="footer p-20">
				<div class="row">
					<div class="col-6">
						<p class="fs-22 fw-700 color-black">Total</p>

					</div>
					<div class="col-6 " style="text-align: end;">
						<p th:text="${billDetail.total}" class="fs-22 fw-700 color-black"></p>
					</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog submit_a_review_area">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send Evaluete</h5>
        
      </div>
	  <form method="post" th:action="@{/evaluate/comment}">
		<div class="modal-body">
			<div class="container">
				<div class="stars">
					<input type="radio"  class="star-1" id="star-1" th:field="${evaluate.number}" value="1">
					<label class="star-1" for="star-1">1</label>
					<input type="radio"  class="star-2" id="star-2" th:field="${evaluate.number}" value="2">
					<label class="star-2" for="star-2">2</label>
					<input type="radio"  class="star-3" id="star-3" th:field="${evaluate.number}" value="3">
					<label class="star-3" for="star-3">3</label>
					<input type="radio" class="star-4" id="star-4" th:field="${evaluate.number}" value="4">
					<label class="star-4" for="star-4">4</label>
					<input type="radio" class="star-5" id="star-5" th:field="${evaluate.number}" value="5">
					<label class="star-5" for="star-5">5</label>
					<span></span>
				</div>
		  </div>	
			<div class="form-group">
				<label for="message-text" class="col-form-label">Comment:</label>
				<textarea class="form-control"  th:field="${evaluate.comment}"></textarea>
			</div>
			
		</div>
		<div class="modal-footer">
			<input type="hidden" th:field="${billDetail.id}">

			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<input type="submit" class="btn btn-primary" value="Send">

		</div>
	</form>
    </div>
  </div>
</div>
					<!-- <th:block th:if="${billDetail.bill.status == '3'}">
						<form method="post" th:action="@{/evaluate/comment}">
							numnber:<input type="number" max="5" th:field="${evaluate.number}"><br>
							Comment: <input type="text" th:field="${evaluate.comment}"><br>

							<input type="hidden" th:field="${billDetail.id}">
							<input type="submit" value="Comment">

						</form>
					</th:block> -->
				</div>
			</div>
		</div>
	</div>
</div>