

<div class="box-bill box mb-4">
	<div class="wrapper">
		<div class="box-content">
			<div class="row">
				<div class="col-md-3">
					<img th:src="@{'/assets/images/hotel/main/'+${bill.room.hotel.mainPhoto}}">
				</div>
				<div class="col-md-9">
					<div class="info">
						<h5 class="fs-20 fw-700">
							<th:block th:text="${bill.room.hotel.name}"></th:block>
						</h5>
						<h6>
							<th:block th:text="${bill.quantity + ' Room'}"></th:block>
						</h6>
						<div class="check">
							<div class="wrapper">
								<div class="CheckIn">
									<p>Check In From</p>
									<strong class="color-black">
										<th:block th:text="${bill.bill.checkInFrom}"></th:block>
									</strong>
								</div>
								<div class="CheckOut">
									<p>Check Out Until</p>
									<strong class="color-black">
										<th:block th:text="${bill.bill.checkOutUntil}"></th:block>
									</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
			<th:block th:if="${bill.bill.status == '4'}">
				<th:block th:each="evaluate : ${bill.room.hotel.evaluates}">
					<th:block th:if="evaluate.idBill == bill.bill.id">
						<h5 th:text="${evaluate.number}"></h5>
					</th:block>
					
				</th:block>
			</th:block>
			
			<th:block th:if="${bill.bill.status == '3'}">
				<button type="submit" id="sendEvaluateBtn" class="btn-outline">Send Evaluate</button>
			</th:block>
			
			<a th:href="@{'/bill/detail/' + ${bill.id}}" class="btn-bg">Manage</a>
		</div>
	</div>
</div>



