<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/user :: mainContent('INDEX HOTEL', ~{this :: #main-content},~{this:: #css},~{this :: #script})">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
</head>


<body>
	<div id="css">
	</div>
	<div id="main-content">	
		<div class="breadcrumb-area">
			<!-- Top Breadcrumb Area -->
			<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
				style="background-image: url(/assets/user/img/bg-img/footer-background.webp);">
				<h2>Account</h2>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Account</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<th:block  th:insert="user/account/box :: .box-info"></th:block>
				</div>
				<div class="col-md-8">
					<th:block 	th:each="bill : ${billDetails}">
						<th:block  th:insert="user/bill_evaluate/boxevaluate :: .box-bill"></th:block>
					</th:block>
				</div>
			</div>
		</div>
	<div id="script">
		<script>
		document.addEventListener("DOMContentLoaded", function() {
    	document.getElementById("cancelLink").addEventListener("click", function(event) {
        event.preventDefault();
        
        var confirmed = confirm("Bạn có chắc chắn muốn hủy bỏ không?");
        
        if (confirmed) {
            window.location.href = this.getAttribute("href");
        }
    });
});
			
	   </script>
	</div>
</body>

</html>