 <div class="box-info">
	<div class="wrapper">
		<div class="b-head">
			<div class="avatar">
				<img th:src="@{'/assets/images/' + ${account.image}}">
			</div>
			<div class="info">
				<p class="title"><strong th:text="${account.email}"></strong></p]>
				<p th:text="${account.phone}"></p>
			</div>
			
		</div>
		<div class="b-body">
			<div class="info-menu">
				<ul>
					<li>
						<a th:href="@{/account}"><i class="fa-solid fa-user"></i>Account</a>
					</li>
					<li>
						<a th:href="@{/account/editpassword}"><i class="fa-solid fa-pen"></i>Change Password</a>
					</li>
					<li>
						<a th:href="@{/bill}"><i class="fa-solid fa-pen"></i>Bill</a>
					</li>
					<li>
						
						<a th:href="@{/account/logout}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
 </div>