<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/user :: mainContent('INDEX HOTEL', ~{this :: .main-content},~{this:: #css},~{this :: #script})">

<head>
	
</head>

<body>
	<div id="css">
		
	</div>
	<div class="main-content">
		<div class="breadcrumb-area">
			<!-- Top Breadcrumb Area -->
			<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
				style="background-image: url(/assets/user/img/bg-img/footer-background.webp);">
				<h2>Shop</h2>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Account</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<h4>Content</h4>
	</div>
	<div id="script">
		
	</div>
</body>

</html>