<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/user :: mainContent('INDEX HOTEL', ~{this :: .main-content},~{this:: #css},~{this :: #script})">

<head>

</head>

<body>
	<div id="css">

	</div>
	<div class="main-content">
		<div class="breadcrumb-area">
			<!-- Top Breadcrumb Area -->
			<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
				style="background-image: url(/assets/user/img/bg-img/footer-background.webp);">
				<h2>Account</h2>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Account</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="sec-profile mb-70">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<th:block  th:insert="user/account/box :: .box-info"></th:block>
				</div>
				<div class="col-md-8">
					<div class="box-update box">
						<h2 class="fs-32 text-center fw-700">Change password</h2>
						<p th:text="${msg}" class="color-black fs-18 fw-500"></p>
						<div class="wrapper">
							<form method="post" th:action="@{/account/updatepass}">
								<div class="field">
									<label>Password</label>
									<input type="text" name="password">
								</div>
								<div class="submit text-center">
									<button type="submit" class="btn-submit">Update</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div id="script">

	</div>
</body>

</html>