<div class="box-image box">

	<div class="wrapper">
		<div class="checkbox">
			<input type="checkbox">
		</div>

		<div class="image">
			<a href="/assets/images/user.png" data-fancybox="gallery-a" data-caption="Gallery A #1">
				<img src="/assets/images/user.png" />
			</a>
		</div>
	</div>
</div>
<div class="box-image box">

	<div class="wrapper">
		<div class="checkbox">
			<input type="checkbox">
		</div>

		<div class="image">
			<a href="/assets/images/user.png" data-fancybox="gallery-a" data-caption="Gallery A #1">
				<img src="/assets/images/user.png" />
			</a>
		</div>
	</div>
</div>
<div class="box-image box">

	<div class="wrapper">
		<div class="checkbox">
			<input type="checkbox">
		</div>

		<div class="image">
			<a href="/assets/images/user.png" data-fancybox="gallery-a" data-caption="Gallery A #1">
				<img src="/assets/images/user.png" />
			</a>
		</div>
	</div>
</div>
<div class="box-image box">

	<div class="wrapper">
		<div class="checkbox">
			<input type="checkbox">
		</div>

		<div class="image">
			<a href="/assets/images/user.png" data-fancybox="gallery-a" data-caption="Gallery A #1">
				<img src="/assets/images/user.png" />
			</a>
		</div>
	</div>
</div>
<div class="box-image box">

	<div class="wrapper">
		<div class="checkbox">
			<input type="checkbox">
		</div>

		<div class="image">
			<a href="/assets/images/user.png" data-fancybox="gallery-a" data-caption="Gallery A #1">
				<img src="/assets/images/user.png" />
			</a>
		</div>
	</div>
</div>
