<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/admin :: mainContentAdmin('INDEX HOTEL', ~{this :: #main-content},~{this:: #css},~{this :: #script})">

<head>

</head>

<body>
	<div id="css">

	</div>
	<div id="main-content">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<a th:href="@{${urlReturn}}"><button class="btn btn-primary btn-main mb-5"> return </button></a>
				</div>
				<div th:if="${checkEdit==true}" class="col-md-3">
					<form method="post" th:action="@{${urlForm+'/delete'}}">
						<button onclick=" confirm('Are you sure want to delete?')" type="submit"
							class="btn-main mb-5 bg-red">Delete</button>

					</form>


				</div>
			</div>
			<form id="formSubmit" method="post" th:action="@{${urlForm}}" enctype="multipart/form-data"
				class="box-form">
				<input id="idPrimary" readonly style="display: none;" type="text" th:field="${categoryImage.id}">
				<input id="idPrimary" readonly style="display: none;" type="text"
					th:field="${categoryImage.hotel.idAccount}">
				<div class="field">
					<label>Name:</label>
					<input id="nameHotel" type="text" th:field="${categoryImage.name}">
				</div>
				<div class="field">
					<label>Add File:</label>
					<input id="mainPhotoInput" name="fileArrayAdd" multiple accept=".jpg,.png,.gif,.webp" type="file">
				</div>
				<div class="field-full">
					<div class="card" th:if="${checkEdit==true}" id="imageArray">
						<div class="card-body">
							<div class="row">
								<div th:each="image : ${categoryImage.images}"
									class="card d-flex h-auto w-auto col-lg-4 col-md-4 col-sm-4 col-xs-6 ">
									<div class="card-body">
										<input type="checkbox" th:value="${image.id}" name="iddeletearray">
										<img th:src="${urlImagesHotelCategory}+'/'+${image.name}"
											class="img-fluid h-100">
									</div>

								</div>



							</div>
						</div>

					</div>
				</div>
				<div class="buttons">
					<button type="submit" class="btn-main">Submit</button>

					<button type="reset" class="btn-main">Reset</button>
				</div>


			</form>
		</div>
	</div>
	<div id="script">

	</div>
</body>

</html>