<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/admin :: mainContentAdmin('INDEX HOTEL', ~{this :: #main-content},~{this:: #css},~{this :: #script})">

<head>

</head>

<body>
	<div id="css">

	</div>
	<div id="main-content">
		<div class="container">
			<div class="list-image">
				<th:block th:insert="admin/categoryimage/boximage :: .box-image"></th:block>
			</div>
		</div>
	</div>
	<div id="script">
	<script>
		Fancybox.bind('[data-fancybox="gallery-a"]', {
  // Custom options for the first gallery
});
	</script>
	</div>
</body>

</html>