<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/admin :: mainContentAdmin('INDEX HOTEL', ~{this :: #main-content},~{this:: #css},~{this :: #script})">

<head>
	
</head>

<body>
	<div id="css">
		
	</div>
	<div id="main-content">
		<th:block th:each="room :${rooms}">
			<br>
			<h3 th:text="${room.hotelName}"></h3>
			<h3 th:text="${room.totalevalate}"></h3>
			<h3 th:text="${room.totalrating}"></h3>
		</th:block>
	</div>
	<div id="script">
		
	</div>
</body>

</html>