<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout/admin :: mainContentAdmin('INDEX HOTEL', ~{this :: #main-content},~{this:: #css},~{this :: #script})">

<head>
	
</head>

<body>
	<div id="css">
		
	</div>
	<div id="main-content">
		<h4>Edit reason</h4>
		<label>Id: </label> <tb:block th:text="${billDetail.id}"></tb:block><br>
		<label>Phong: </label> <tb:block th:text="${billDetail.room.name}"></tb:block><br>
		<label>Ngay dat: </label> <tb:block th:text="${billDetail.bill.checkInUntil}"></tb:block><br>
		<label>Ngay tra phong: </label> <tb:block th:text="${billDetail.bill.checkOutUntil}"></tb:block><br>
		<label>Khach chinh: </label> <tb:block th:text="${billDetail.bill.mainGuest}"></tb:block><br>
		<label>Gia: </label> <tb:block th:text="${billDetail.price}"></tb:block><br>
		<label>Gia giam: </label> <tb:block th:text="${billDetail.priceDiscount}"></tb:block><br>
		<label>Tong gia: </label> <tb:block th:text="${billDetail.total}"></tb:block><br>
		<label>Ly do giam gia: </label> <tb:block th:text="${billDetail.total}"></tb:block><br>

		<form th:action="@{/admin/billdetail/update}" method="post">
			<input type="text" th:field="${billDetail.reasonDiscount}">
			<input type="submit">
			<input type="hidden" th:field="${billDetail.id}">
		</form>
	</div>
	<div id="script">
		
	</div>
</body>

</html>