<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/user :: mainContent('Home Page',  ~{this :: .main-content},~{this:: #css},~{this :: #script})">

<head>

</head>

<body>
	<div id="css">

	</div>
	<div class="main-content">
		<div class="breadcrumb-area">
			<!-- Top Breadcrumb Area -->
			<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
				style="background-image: url(/assets/user/img/bg-img/footer-background.webp);">
				<h2>Booking</h2>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Booking</li>
							</ol>
						</nav>
					</div>
					<div class="col-12">
						<div class="box box-booking mb-30">
							<div class="row">
								<div class="col-md-4">
									<img th:src="@{'/assets/images/hotel/main/'+${room.hotel.mainPhoto}}">

								</div>
								<div class="col-md-8">
									<div class="row">
										<div class="col-md-6">
											<h4 class="fs-20 color-black">
												<th:block th:text="'Hotel : '+${room.hotel.name}"></th:block>
											</h4>
											<h4 class="fs-20 color-black">
												<th:block th:text="'Room : '+${room.name}"></th:block>
											</h4>
											<h5 class="fs-18 color-black">People Max:<th:block
													th:text="${room.peopleMax}">
												</th:block>
											</h5>

											<h6 class="fs-18 color-black">Price per night: <th:block
													th:text="${room.price}">
												</th:block>
											</h6>
											<h6 class="fs-18 color-black">Price Discount: <th:block
													th:text="${room.priceDiscount}"></th:block>
											</h6>
										</div>
										<div class="col-md-6">
											<form th:action="@{/hotel/create_bill}" method="post">
												<div class="row">
													<div class="col-md-12 fs-18 color-black mb-2">
														Quantity room: <input type="number" min="1"
															th:max="${room.roomNow}" th:field="${billDetail.quantity}" required>/
														<th:block th:text="${room.roomNow}">
														</th:block>
													</div>
													<div class="col-md-12 mb-30">

														<input type="text" th:field="${bill.checkInUntil}" required autocomplete="off"><br>
														To
														<br>
														<input type="text" th:field="${bill.checkOutFrom}" required autocomplete="off">
													</div>
													<div class="col-md-6">
														<input type="hidden" th:field="${room.id}">
													</div>
													<div class="col-md-12">
														<button type="submit" class="btn btn-submit"
															style="line-height: 0;">Booking</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- ##### Breadcrumb Area End ##### -->

			<!-- ##### Shop Area Start ##### -->

		</div>
		<div id="script">
			<script>
				$(function () {

					var currentDate = new Date();
    var day = currentDate.getDate();
    var month = currentDate.getMonth() + 1;
    var year = currentDate.getFullYear();
    
    // Định dạng ngày thành chuỗi 'dd/mm/yyyy'
    var formattedDate = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + year;

    // Thiết lập giá trị mặc định cho checkInUntil
    $("#checkInUntil").val(formattedDate);
    $("#checkInUntil").datepicker({ dateFormat: 'dd/mm/yy', minDate: 0 });
    $("#checkOutFrom").datepicker({ dateFormat: 'dd/mm/yy' });

	$("#checkInUntil").on("change", function () {
		var currentDate = new Date(); // Ngày hiện tại
        var checkInDate = $("#checkInUntil").datepicker("getDate");
        var checkOutDate = $("#checkOutFrom").datepicker("getDate");

        // Kiểm tra nếu ngày check-out nhỏ hơn hoặc bằng ngày check-in
        if (checkInDate >= checkOutDate) {
            alert("Check-in date must be later than check-out date");
            $("#checkInUntil").val(formattedDate);
			$("checkOutFrom").val(""); // Xóa giá trị không hợp lệ
        }
	});

    // Add event listener for check-out date change
	$("#checkOutFrom").on("change", function () {
        var currentDate = new Date(); // Ngày hiện tại
        var checkInDate = $("#checkInUntil").datepicker("getDate");
        var checkOutDate = $("#checkOutFrom").datepicker("getDate");

        // Kiểm tra nếu ngày check-out nhỏ hơn hoặc bằng ngày hiện tại
        if (checkOutDate <= currentDate) {
            alert("Check-out date must be later than current date");
            $("#checkOutFrom").val(""); // Xóa giá trị không hợp lệ
            return; // Dừng xử lý tiếp theo
        }

        // Kiểm tra nếu ngày check-out nhỏ hơn hoặc bằng ngày check-in
        if (checkOutDate <= checkInDate) {
            alert("Check-out date must be later than check-in date");
            $("#checkOutFrom").val(""); // Xóa giá trị không hợp lệ
        }
    });
});

			</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
			<script>
				var citis = document.getElementById("city");
				var districts = document.getElementById("district");
				var wards = document.getElementById("ward");
				var Parameter = {
					url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
					method: "GET",
					responseType: "application/json",
				};
				var promise = axios(Parameter);
				promise.then(function (result) {
					renderCity(result.data);
				});

				function renderCity(data) {


					citis.onchange = function () {
						district.length = 1;
						ward.length = 1;
						if (this.value != "") {
							const result = data.filter(n => n.Id === this.value);

							for (const k of result[0].Districts) {
								district.options[district.options.length] = new Option(k.Name, k.Id);
							}
						}

					};
					district.onchange = function () {
						ward.length = 1;
						const dataCity = data.filter((n) => n.Id === citis.value);
						if (this.value != "") {
							const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

							for (const w of dataWards) {
								wards.options[wards.options.length] = new Option(w.Name, w.Id);
							}
						}
					};
				}
			</script>


			<script>
				$('#formSubmit').submit(function (e) {

					var cityValue = $('#city option:selected').val();
					var districtValue = $('#district option:selected').val();
					var wardValue = $('#ward option:selected').val();

					var priceMin = $('#price-range').text().split('₫')[1].replace('-', '');

					var priceMax = $('#price-range').text().split('₫')[2].replace(' ', '');
					$('#searchcity').val(cityValue);
					$('#searchdistrict').val(districtValue);
					$('#searchward').val(wardValue);
					$('#searchcity').val(cityValue);
					$('#searchpriceMin').val($.trim(priceMin));
					$('#searchpriceMax').val($.trim(priceMax));
					console.log(priceMin);


					console.log(priceMax);


				});
			</script>
			<script>
				$('#btnreset').click((e) => {
					$('#searchReset').val(true);
					$('#formSubmit').submit();
				})
			</script>


		</div>
</body>

</html>