<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/user :: mainContent('Home Page',  ~{this :: .main-content},~{this:: #css},~{this :: #script})">

<head>

</head>

<body>
	<div id="css">
	<style>
		#formSubmit button{
			padding: 5px 10px;
			border: none;
			border-radius: 20px;
			background: rgba(1,148,243,1.00);
			color:#fff;
			font-size:18px;
			cursor: pointer;
		}
	</style>
	</div>
	<div class="main-content">
		<div class="breadcrumb-area">
			<!-- Top Breadcrumb Area -->
			<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
				style="background-image: url(/assets/user/img/bg-img/footer-background.webp);">
				<h2>Hotel</h2>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Hotel</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- ##### Breadcrumb Area End ##### -->

		<!-- ##### Shop Area Start ##### -->
		<section class="shop-page section-padding-0-100">
			<div class="container">
				<div class="row">
					<!-- Shop Sorting Data -->
					<div class="col-12">
						<div class="shop-sorting-data d-flex flex-wrap align-items-center justify-content-between">
							<!-- Shop Page Count -->
							<div class="shop-page-count">

							</div>
							<!-- Search by Terms -->
							<div class="search_by_terms">
								<div class="form-inline">
									<div class="select-address">
										<div class="row">
											<div class="col-md-3">
												<select class="form-select form-select-sm mb-3 " id="city"
													th:value="${search.city}" placeholder aria-label=".form-select-sm">
													<option value="" selected>Chọn tỉnh thành</option>
													<option value="01">Thành phố Hà Nội</option>
													<option value="48">Thành phố Đà Nẵng</option>
													<option value="79">Thành phố Hồ Chí Minh</option>
												</select>
											</div>
											<div class="col-md-3">
												<select class="form-select form-select-sm mb-3 " id="district"
													aria-label=".form-select-sm" th:value="${search.district}">
													<option value="" selected>Chọn quận huyện</option>
												</select>
											</div>
											<div class="col-md-3">
												<select class="form-select form-select-sm " id="ward"
													aria-label=".form-select-sm" th:value="${search.ward}">
													<option value="" selected>Chọn phường xã</option>
												</select>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="row ">
							<!-- Sidebar Area -->

							<div class="col-12 col-md-4 col-lg-3 mb-30">

								<div class="shop-sidebar-area">
									<form method="get" id="formSubmit">

										<input type="hidden" id="searchcity" th:field="${search.city}">
										<input type="hidden" id="searchward" th:field="${search.ward}">
										<input type="hidden" id="searchdistrict" th:field="${search.district}">
										<input type="hidden" id="searchpriceMin" th:field="${search.priceMin}">
										<input type="hidden" id="searchpriceMax" th:field="${search.priceMax}" >
										<input type="hidden" id="searchReset" name="searchReset" value="false">

										<!-- Shop Widget -->
										<div class="shop-widget price mb-50">
											<h4 class="widget-title">Prices</h4>
											<div class="widget-desc">
												<div class="slider-range">
													<div data-min="0" data-max="5000000" data-unit="₫"
														class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
														data-value-min="0" data-value-max="5000000"
														data-label-result="Price:">
														<div class="ui-slider-range ui-widget-header ui-corner-all">
														</div>
														<span
															class="ui-slider-handle ui-state-default ui-corner-all first-handle"
															tabindex="0"></span>
														<span class="ui-slider-handle ui-state-default ui-corner-all"
															tabindex="0"></span>
													</div>
													<div class="range-price" id="price-range">Price: ₫0 - ₫5000000
													</div>
												</div>
											</div>
										</div>

										<!-- Shop Widget -->
										<div class="shop-widget catagory mb-50">
											<h4 class="widget-title">Facilities</h4>
											<div class="widget-desc">
												<!-- Single Checkbox -->
												<div
													class="custom-control custom-checkbox d-flex align-items-center mb-2">
													<input type="checkbox" class="custom-control-input"
														id="customCheck1" value="WiFi" th:field="${search.services}">
													<label class="custom-control-label" for="customCheck1">WiFi <span
															class="text-muted"></span></label>
												</div>
												<!-- Single Checkbox -->
												<div
													class="custom-control custom-checkbox d-flex align-items-center mb-2">
													<input type="checkbox" class="custom-control-input"
														id="customCheck2" value="Swimming Pool"
														th:field="${search.services}">
													<label class="custom-control-label" for="customCheck2">Swimming Pool
														<span class="text-muted"></span></label>
												</div>
												<!-- Single Checkbox -->
												<div
													class="custom-control custom-checkbox d-flex align-items-center mb-2">
													<input type="checkbox" class="custom-control-input"
														id="customCheck3" value="Parking" th:field="${search.services}">
													<label class="custom-control-label" for="customCheck3">Parking<span
															class="text-muted"></span></label>
												</div>
												<!-- Single Checkbox -->
												<div
													class="custom-control custom-checkbox d-flex align-items-center mb-2">
													<input type="checkbox" class="custom-control-input"
														id="customCheck4" value="Restaurant"
														th:field="${search.services}">
													<label class="custom-control-label"
														for="customCheck4">Restaurant<span
															class="text-muted"></span></label>
												</div>
												<!-- Single Checkbox -->
												<div
													class="custom-control custom-checkbox d-flex align-items-center mb-2">
													<input type="checkbox" class="custom-control-input"
														id="customCheck5" value="24-Hour Front Desk"
														th:field="${search.services}">
													<label class="custom-control-label" for="customCheck5">24-Hour Front
														Desk
														<span class="text-muted"></span></label>
												</div>
												<!-- Single Checkbox -->
												<div
													class="custom-control custom-checkbox d-flex align-items-center mb-2">
													<input type="checkbox" class="custom-control-input"
														id="customCheck6" value="Elevator"
														th:field="${search.services}">
													<label class="custom-control-label" for="customCheck6">Elevator
														<span class="text-muted"></span></label>
												</div>
												<div
													class="custom-control custom-checkbox d-flex align-items-center mb-2">
													<input type="checkbox" class="custom-control-input"
														id="customCheck6" value="Wheelchair Access"
														th:field="${search.services}">
													<label class="custom-control-label" for="customCheck6">Wheelchair
														Access
														<span class="text-muted"></span></label>
												</div>
												<div
													class="custom-control custom-checkbox d-flex align-items-center mb-2">
													<input type="checkbox" class="custom-control-input"
														id="customCheck6" value="Fitness Center"
														th:field="${search.services}">
													<label class="custom-control-label" for="customCheck6">Fitness
														Center <span class="text-muted"></span></label>
												</div>
												<div
													class="custom-control custom-checkbox d-flex align-items-center mb-2">
													<input type="checkbox" class="custom-control-input"
														id="customCheck6" value="Meeting Facilities"
														th:field="${search.services}">
													<label class="custom-control-label" for="customCheck6">Meeting
														Facilities
														<span class="text-muted"></span></label>
												</div>
												<div
													class="custom-control custom-checkbox d-flex align-items-center mb-2">
													<input type="checkbox" class="custom-control-input"
														id="customCheck6" value="Airport Transfer"
														th:field="${search.services}">
													<label class="custom-control-label" for="customCheck6">Airport
														Transfer
														<span class="text-muted"></span></label>
												</div>


											</div>
										</div>

										<!-- Shop Widget -->


										<button type="submit" >Submit</button>
										<button type="reset" id="btnreset" >reset</button>
									</form>
									<!-- Shop Widget -->

								</div>
							</div>

							<!-- All Products Area -->
							<div class="col-12 col-md-8 col-lg-9">
								<div class="shop-products-area detai-hotels">
									<div class="row">
										<th:block th:each="room , index : ${hotels}">
											<!-- Single Product Area -->
											<th:block th:if="${room.status} == true">
												<div class="col-12">
													<th:block th:if="${room.status} == true">
														<th:block th:insert="/user/hotel/boxhotel :: .box-room">
														</th:block>
													</th:block>
												</div>


												<!-- Single Product Area -->
											</th:block>
									</div>

									<!-- Pagination -->

								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
	</div>
	<div id="script">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
		<script>
			var citis = document.getElementById("city");
			var districts = document.getElementById("district");
			var wards = document.getElementById("ward");
			var Parameter = {
				url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
				method: "GET",
				responseType: "application/json",
			};
			var promise = axios(Parameter);
			promise.then(function (result) {
				renderCity(result.data);
			});

			function renderCity(data) {


				citis.onchange = function () {
					district.length = 1;
					ward.length = 1;
					if (this.value != "") {
						const result = data.filter(n => n.Id === this.value);

						for (const k of result[0].Districts) {
							district.options[district.options.length] = new Option(k.Name, k.Id);
						}
					}

				};
				district.onchange = function () {
					ward.length = 1;
					const dataCity = data.filter((n) => n.Id === citis.value);
					if (this.value != "") {
						const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

						for (const w of dataWards) {
							wards.options[wards.options.length] = new Option(w.Name, w.Id);
						}
					}
				};
			}
		</script>


		<script>
			$('#formSubmit').submit(function (e) {

				var cityValue = $('#city option:selected').val();
				var districtValue = $('#district option:selected').val();
				var wardValue = $('#ward option:selected').val();

				var priceMin = $('#price-range').text().split('₫')[1].replace('-', '');

				var priceMax = $('#price-range').text().split('₫')[2].replace(' ', '');
				$('#searchcity').val(cityValue);
				$('#searchdistrict').val(districtValue);
				$('#searchward').val(wardValue);
				$('#searchcity').val(cityValue);
				$('#searchpriceMin').val($.trim(priceMin));
				$('#searchpriceMax').val($.trim(priceMax));
				console.log(priceMin);


				console.log(priceMax);


			});
		</script>
		<script>
			$('#btnreset').click((e)=>{
				$('#searchReset').val(true);
				$('#formSubmit').submit();
			})
		</script>
		

	</div>
</body>

</html>