<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/user :: mainContent('Home Page',  ~{this :: .main-content},~{this:: #css},~{this :: #script})">

<head>

</head>

<body>
	<div id="css">
		<style>
			#gallery .image:nth-child(6) {
				position: relative;
			}

			#gallery .image:nth-child(6)::after {
				content: "";
				position: absolute;
				background: rgba(3, 18, 26, 0.5);
				width: calc(100% - 20px);
				height: 100px;
				top: 0;
				left: 10px;
				border-radius: 10px;
				z-index: 1;
			}

			.see-all {
				position: absolute;
				left: 50%;
				top: 50%;
				z-index: 2;
				color: #fff;
				transform: translate(-50%, -50%);
				cursor: pointer;
			}

			.see-all:hover {
				color: rgba(1, 148, 243, 1.00);
			}

			.related-products-area .container {
				position: relative;
			}

			.swiper-button-prev {
				left: -80px;
			}

			.swiper-button-next {
				right: -80px;
			}

			.s-button {
				width: 40px;
				height: 40px;
				color: #fff;
				background: #333333a1;
				border-radius: 100px;
				line-height: 40px;
			}

			.s-button::after {
				font-size: 18px;
			}

			.box-room-detailm .price {
				color: #333;

			}

			.box-room-detail .price {

				font-size: 20px;
			}

			.box-room-detail .price span {
				color: #9e9e9e;
				text-decoration-line: line-through;

			}

			.box-room-detail .price-sale span {
				color: rgb(255, 94, 31);

				font-size: 26px;
				font-weight: 700;
			}
		</style>
	</div>
	<div class="main-content">
		<div class="breadcrumb-area">
			<!-- Top Breadcrumb Area -->
			<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
				style="background-image: url(/assets/user/img/bg-img/footer-background.webp);">
				<h2>SHOP DETAILS</h2>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
								<li class="breadcrumb-item"><a href="#">Shop</a></li>
								<li class="breadcrumb-item active" aria-current="page">Hotel Details</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- ##### Breadcrumb Area End ##### -->

		<!-- ##### Single Product Details Area Start ##### -->
		<section class="single_product_details_area mb-50">
			<div class="produts-details--content mb-50">
				<div class="container">
					<div class="row justify-content-between mb-20">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-10">
									<h2 class="fs-24 fw-700 color-black" th:text="${hotel.name}"></h2>
									<div class="raiting-hotel">
										<th:block th:each="i : ${#numbers.sequence(1, hotel.rating)}">
											<i class="fa fa-star" aria-hidden="true"
												style="color:rgb(255, 220, 0);"></i>
										</th:block>
									</div>
									<p class="map"><i class="fa-solid fa-location-dot"></i>
										<th:block th:text="${#strings.substringBefore(hotel.address, ';')}"></th:block>
									</p>
								</div>
								<div class="col-md-2">
									<a onclick="scrollToRoom()" class="btn btn-booknow">Select Room</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="single-image">

								<img th:src="@{'/assets/images/hotel/main/'+${hotel.secondaryPhoto}}">

							</div>
						</div>
						<div class="col-md-4">
							<div class="row" id="gallery">
								<th:block th:each="categoryimage : ${hotel.categoryimages}">
									<th:block th:each="image,i : ${categoryimage.images}">

										<div class="image col-md-6">
											<img th:alt="${categoryimage.name}"
												th:src="@{'/assets/images/hotel/categoryImage/'+${image.name}}">
										</div>


									</th:block>
								</th:block>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="product_details_tab clearfix">
							<!-- Tabs -->
							<ul class="nav nav-tabs" role="tablist" id="product-details-tab">
								<li class="nav-item">
									<a href="#description" class="nav-link active" data-toggle="tab"
										role="tab">Description</a>
								</li>
								<li class="nav-item">
									<a href="#policy" class="nav-link" data-toggle="tab" role="tab">Policy and
										Regulation</a>
								</li>
								<li class="nav-item">
									<a href="#reviews" class="nav-link" data-toggle="tab" role="tab">Reviews <span
											class="text-muted"></span></a>
								</li>
							</ul>
							<!-- Tab Content -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane fade show active" id="description">
									<div class="description_area">
										<th:block th:text="${hotel.description}">

										</th:block>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="policy">
									<div class="additional_info_area">
										<h3 class="fs-20 color-black fw-600">Policy</h3>
										<th:block th:text="${hotel.cancellationPolicy}">

										</th:block>
										<h3 class="fs-20 color-black fw-600">Regulation</h3>
										<th:block th:text="${hotel.regulation}">

										</th:block>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="reviews">
									<div class="reviews_area">
										<ul>
											<li>
												<th:block th:each="e : ${hotel.evaluates}">
													<div class="single_user_review mb-15">
														<div class="review-rating">
															<th:block th:each="i : ${#numbers.sequence(1, e.number)}">
																<i class="fa fa-star" aria-hidden="true"></i>


															</th:block>
															<span>for Quality</span>
															</th>
															<div class="comment">
																<th:block th:text="${e.comment}"></th:block>
															</div>
															<div class="review-details">
																<p>by <a href="#">
																		<th:block th:text="${e.nameAccount}"></th:block>
																	</a> on <span>
																		<th:block
																			th:text="${#dates.format(e.created,'dd/MM/yyyy')}">
																		</th:block>
																	</span>
																</p>
															</div>
														</div>
												</th:block>
											</li>
										</ul>
									</div>


								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ##### Single Product Details Area End ##### -->
		<section id="room">
			<div class="container">
				<div class="row">


					<div class="col-12">
						<h2>Room</h2>
					</div>

					<th:block th:each="room : ${hotel.rooms}">
						<div class="col-md-4">

							<div class="box-room-detail box mb-30" data-aos="fade-up" data-aos-duration="2000">
								<div class="wrapper">
									<div class="content">
										<h3 class="fs-20 fw-600 color-black" th:text="${room.name}"></h3>
										<p class="fs-18 fw-600 color-black" th:text="${room.describes}"></p>
										<p class="fs-18 fw-600 " th:text="'People : '+${room.peopleMax}"></p>
									</div>
									<div>
										<div class="b-price">
											<th:block
												th:if="${room.priceDiscount} > 0 and ${room.priceDiscount < room.price} ">

												<p class="price-sale"><span>₫
														<th:block
															th:text="${#numbers.formatDecimal(room.priceDiscount, 0, 'COMMA', 0, 'POINT')}">
														</th:block>
													</span></p>

												<p class="price "><span>₫<th:block
															th:text="${#numbers.formatDecimal(room.price, 0, 'COMMA', 0, 'POINT')}">
														</th:block></span>
													-<th:block
														th:text="${#strings.substringBefore((100 - (room.priceDiscount / room.price) * 100), '.')}">
													</th:block>%
												</p>
											</th:block>
											<th:block th:if="${room.priceDiscount} <= 0">


												<p class="price "><span
														style="text-decoration-line:none ; color:rgb(255, 94, 31);font-size: 26px;font-weight: 700;">
														₫<th:block
															th:text="${#numbers.formatDecimal(room.price, 0, 'COMMA', 0, 'POINT')}">
														</th:block>
												</p>
											</th:block>

										</div>
										<div class="buttons">
											<a th:href="@{'/hotel/booking/'+${room.id}}" class="btn btn-booknow">Book
												now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</th:block>

				</div>
			</div>
		</section>
		<!-- ##### Related Product Area Start ##### -->
		<div class="related-products-area">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Section Heading -->
						<div class="section-heading text-center">
							<h2>TOP TRENDING HOTELS</h2>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-12">
						<div class="swiper">
							<!-- Additional required wrapper -->
							<div class="swiper-wrapper">


								<th:block th:each="room , index : ${hotels}">
									<th:block th:if="${room.status} == true">
										<div class="swiper-slide">
											<th:block th:if="${room.status} == true">
												<th:block th:insert="/user/hotel/boxhotel :: .box-room">
												</th:block>
											</th:block>
										</div>



									</th:block>


							</div>
							<!-- If we need pagination -->


							<!-- If we need navigation buttons -->

						</div>
					</div>
				</div>

				<div class="swiper-button-prev s-button"></div>
				<div class="swiper-button-next s-button"></div>
			</div>

		</div>


	</div>

	<div id="script">
		<script>
			var categoryImage = document.querySelectorAll(".image.col-md-6");

			categoryImage.forEach((e, i) => {
				if (i >= 6) {
					e.style.display = "none";
				}
				if (i == 5) {
					var x = document.createElement("div");
					x.classList.add("see-all");
					x.innerHTML = `
					
						<a id="seeall">See all</a>
				
					`;
					e.appendChild(x)
				}

			});

		</script>
		<script>
			$('.single-image img').click((e) => {
				var g = document.querySelectorAll("#gallery img");
				var categoryImage = document.querySelectorAll(".image.col-md-6 img");
				var src = categoryImage[0].currentSrc;
				Popup({
					values: g,
					src: src,
				});
				changeImage();
				activeImage();
				changeButton();
			})
			$('#seeall').click((e) => {
				var g = document.querySelectorAll("#gallery img");
				var categoryImage = document.querySelectorAll(".image.col-md-6 img");
				var src = categoryImage[0].currentSrc;
				Popup({
					values: g,
					src: src,
				});
				changeImage();
				activeImage();
				changeButton();
			})

		</script>
		<script>
			AOS.init();
		</script>
		<script>
			const swiper = new Swiper('.related-products-area .swiper', {
				slidesPerView: 1,
				spaceBetween: 10,
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
				loop: true,
				autoplay: {
					delay: 5000,
				},
				breakpoints: {
					// when window width is >= 320px
					320: {
						slidesPerView: 2,
						spaceBetween: 20
					},
					// when window width is >= 480px
					480: {
						slidesPerView: 3,
						spaceBetween: 30
					},
					// when window width is >= 640px
					640: {
						slidesPerView: 4,
						spaceBetween: 40
					}
				}
			});
		</script>
		<script>
			var element = document.getElementById("room");
			var rect = element.getBoundingClientRect();

			var xPosition = rect.left;
			var yPosition = Math.floor(rect.top - 100);


			function scrollToRoom() {
				window.scrollTo({
					top: yPosition,
					behavior: 'smooth' // Optional: Tạo hiệu ứng mượt mà
				});
			}
		</script>
		</divc>
</body>

</html>