<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/user :: mainContent('Home Page',  ~{this :: .main-content},~{this:: #css},~{this :: #script})">

<head>

</head>

<body>
	<div id="css">
		<style>
			#gallery .image:nth-child(6) {
				position: relative;
			}

			#gallery .image:nth-child(6)::after {
				content: "";
				position: absolute;
				background: rgba(3, 18, 26, 0.5);
				width: calc(100% - 20px);
				height: 100px;
				top: 0;
				left: 10px;
				border-radius: 10px;
				z-index: 1;
			}

			.see-all {
				position: absolute;
				left: 50%;
				top: 50%;
				z-index: 2;
				color: #fff;
				transform: translate(-50%, -50%);
				cursor: pointer;
			}

			.see-all:hover {
				color: rgba(1, 148, 243, 1.00);
			}
		</style>
	</div>
	<div class="main-content">
		<div class="breadcrumb-area">
			<!-- Top Breadcrumb Area -->
			<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
				style="background-image: url(/assets/user/img/bg-img/footer-background.webp);">
				<h2>SHOP DETAILS</h2>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
								<li class="breadcrumb-item"><a href="#">Shop</a></li>
								<li class="breadcrumb-item active" aria-current="page">Hotel Details</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- ##### Breadcrumb Area End ##### -->

		<!-- ##### Single Product Details Area Start ##### -->
		<section class="single_product_details_area mb-50">
			<div class="produts-details--content mb-50">
				<div class="container">
					<div class="row justify-content-between mb-20">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-10">
									<h2 class="fs-24 fw-700 color-black" th:text="${hotel.name}"></h2>
									<p class="map"><i class="fa-solid fa-location-dot"></i>
										<th:block th:text="${#strings.substringBefore(hotel.address, ';')}"></th:block>
									</p>
								</div>
								<div class="col-md-2">
									<a href="#room" class="btn btn-booknow">Select Room</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row" id="gallery">
						<div class="col-md-8">
							<div class="single-image">

								<img th:src="@{'/assets/images/hotel/main/'+${hotel.secondaryPhoto}}">

							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<th:block th:each="categoryimage : ${hotel.categoryimages}">
									<th:block th:each="image,i : ${categoryimage.images}">

										<div class="image col-md-6">
											<img th:alt="${categoryimage.name}"
												th:src="@{'/assets/images/hotel/categoryImage/'+${image.name}}">
										</div>


									</th:block>
								</th:block>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="product_details_tab clearfix">
							<!-- Tabs -->
							<ul class="nav nav-tabs" role="tablist" id="product-details-tab">
								<li class="nav-item">
									<a href="#description" class="nav-link active" data-toggle="tab"
										role="tab">Description</a>
								</li>
								<li class="nav-item">
									<a href="#policy" class="nav-link" data-toggle="tab" role="tab">Policy and
										Regulation</a>
								</li>
								<li class="nav-item">
									<a href="#reviews" class="nav-link" data-toggle="tab" role="tab">Reviews <span
											class="text-muted">(1)</span></a>
								</li>
							</ul>
							<!-- Tab Content -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane fade show active" id="description">
									<div class="description_area">
										<th:block th:text="${hotel.description}">

										</th:block>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="policy">
									<div class="additional_info_area">
										<h3 class="fs-20 color-black fw-600">Policy</h3>
										<th:block th:text="${hotel.cancellationPolicy}">

										</th:block>
										<h3 class="fs-20 color-black fw-600">Regulation</h3>
										<th:block th:text="${hotel.regulation}">

										</th:block>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="reviews">
									<div class="reviews_area">
										<ul>
											<li>
												<th:block th:each="e : ${hotel.evaluates}">
													<div class="single_user_review mb-15">
														<div class="review-rating">
															<th:block th:each="i : ${#numbers.sequence(1, e.number)}">
																<i class="fa fa-star" aria-hidden="true"></i>


															</th:block>
															<span>for Quality</span>
															</th>
															<div class="comment">
																<th:block th:text="${e.comment}"></th:block>
															</div>
															<div class="review-details">
																<p>by <a href="#">
																		<th:block th:text="${e.nameAccount}"></th:block>
																	</a> on <span>
																		<th:block
																			th:text="${#dates.format(e.created,'dd/MM/yyyy')}">
																		</th:block>
																	</span>
																</p>
															</div>
														</div>
												</th:block>
											</li>
										</ul>
									</div>

									<div class="submit_a_review_area mt-50">
										<h4>Submit A Review</h4>
										<form action="#" method="post">
											<div class="row">
												<div class="col-12">
													<div class="form-group d-flex align-items-center">
														<span class="mr-15">Your Ratings:</span>
														<div class="stars">
															<input type="radio" name="star" class="star-1" id="star-1">
															<label class="star-1" for="star-1">1</label>
															<input type="radio" name="star" class="star-2" id="star-2">
															<label class="star-2" for="star-2">2</label>
															<input type="radio" name="star" class="star-3" id="star-3">
															<label class="star-3" for="star-3">3</label>
															<input type="radio" name="star" class="star-4" id="star-4">
															<label class="star-4" for="star-4">4</label>
															<input type="radio" name="star" class="star-5" id="star-5">
															<label class="star-5" for="star-5">5</label>
															<span></span>
														</div>
													</div>
												</div>
												<div class="col-12 col-md-6">
													<div class="form-group">
														<label for="name">Nickname</label>
														<input type="email" class="form-control" id="name"
															placeholder="Nazrul">
													</div>
												</div>
												<div class="col-12 col-md-6">
													<div class="form-group">
														<label for="options">Reason for your rating</label>
														<select class="form-control" id="options">
															<option>Quality</option>
															<option>Value</option>
															<option>Design</option>
															<option>Price</option>
															<option>Others</option>
														</select>
													</div>
												</div>
												<div class="col-12">
													<div class="form-group">
														<label for="comments">Comments</label>
														<textarea class="form-control" id="comments" rows="5"
															data-max-length="150"></textarea>
													</div>
												</div>
												<div class="col-12">
													<button type="submit" class="btn alazea-btn">Submit Your
														Review</button>
												</div>
											</div>
										</form>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ##### Single Product Details Area End ##### -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2>Room</h2>
					</div>
					<div class="col-md-6">

						<th:block th:each="room : ${hotel.rooms}">

							<div class="box-room-detail box">
								<div class="wrapper">
									<div class="content">
										<h3 class="fs-20 fw-600" th:text="name"></h3>
									</div>

									<div class="b-price">
										<th:block
											th:if="${room.priceDiscount} > 0 and ${room.priceDiscount < room.price} ">

											<p class="price-sale"><span>₫
													<th:block
														th:text="${#numbers.formatDecimal(room.priceDiscount, 0, 'COMMA', 0, 'POINT')}">
													</th:block>
												</span></p>

											<p class="price "><span>₫<th:block
														th:text="${#numbers.formatDecimal(room.price, 0, 'COMMA', 0, 'POINT')}">
													</th:block></span>
												-<th:block
													th:text="${#strings.substringBefore((100 - (room.priceDiscount / room.price) * 100), '.')}">
												</th:block>%
											</p>
										</th:block>
										<th:block th:if="${room.priceDiscount} <= 0">


											<p class="price "><span
													style="text-decoration-line:none ; color:rgb(255, 94, 31);font-size: 26px;font-weight: 700;">
													₫<th:block
														th:text="${#numbers.formatDecimal(room.price, 0, 'COMMA', 0, 'POINT')}">
													</th:block>
											</p>
										</th:block>

									</div>
									<div class="buttons">
										<a th:href="'#'" class="btn btn-booknow">Book
											now</a>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</section>
		<!-- ##### Related Product Area Start ##### -->
		<div class="related-products-area">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Section Heading -->
						<div class="section-heading text-center">
							<h2>Related Products</h2>
						</div>
					</div>
				</div>

				<div class="row">

					<!-- Single Product Area -->
					<div class="col-12 col-sm-6 col-lg-3">
						<div class="single-product-area mb-100">
							<!-- Product Image -->
							<div class="product-img">
								<a href="shop-details.html"><img src="/assets/user/img/bg-img/40.png" alt=""></a>
								<!-- Product Tag -->
								<div class="product-tag">
									<a href="#">Hot</a>
								</div>
								<div class="product-meta d-flex">
									<a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
									<a href="cart.html" class="add-to-cart-btn">Add to cart</a>
									<a href="#" class="compare-btn"><i class="arrow_left-right_alt"></i></a>
								</div>
							</div>
							<!-- Product Info -->
							<div class="product-info mt-15 text-center">
								<a href="shop-details.html">
									<p>Cactus Flower</p>
								</a>
								<h6>$10.99</h6>
							</div>
						</div>
					</div>

					<!-- Single Product Area -->
					<div class="col-12 col-sm-6 col-lg-3">
						<div class="single-product-area mb-100">
							<!-- Product Image -->
							<div class="product-img">
								<a href="shop-details.html"><img src="/assets/user/img/bg-img/41.png" alt=""></a>
								<div class="product-meta d-flex">
									<a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
									<a href="cart.html" class="add-to-cart-btn">Add to cart</a>
									<a href="#" class="compare-btn"><i class="arrow_left-right_alt"></i></a>
								</div>
							</div>
							<!-- Product Info -->
							<div class="product-info mt-15 text-center">
								<a href="shop-details.html">
									<p>Cactus Flower</p>
								</a>
								<h6>$10.99</h6>
							</div>
						</div>
					</div>

					<!-- Single Product Area -->
					<div class="col-12 col-sm-6 col-lg-3">
						<div class="single-product-area mb-100">
							<!-- Product Image -->
							<div class="product-img">
								<a href="shop-details.html"><img src="/assets/user/img/bg-img/42.png" alt=""></a>
								<div class="product-meta d-flex">
									<a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
									<a href="cart.html" class="add-to-cart-btn">Add to cart</a>
									<a href="#" class="compare-btn"><i class="arrow_left-right_alt"></i></a>
								</div>
							</div>
							<!-- Product Info -->
							<div class="product-info mt-15 text-center">
								<a href="shop-details.html">
									<p>Cactus Flower</p>
								</a>
								<h6>$10.99</h6>
							</div>
						</div>
					</div>

					<!-- Single Product Area -->
					<div class="col-12 col-sm-6 col-lg-3">
						<div class="single-product-area mb-100">
							<!-- Product Image -->
							<div class="product-img">
								<a href="shop-details.html"><img src="/assets/user/img/bg-img/43.png" alt=""></a>
								<!-- Product Tag -->
								<div class="product-tag sale-tag">
									<a href="#">Hot</a>
								</div>
								<div class="product-meta d-flex">
									<a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
									<a href="cart.html" class="add-to-cart-btn">Add to cart</a>
									<a href="#" class="compare-btn"><i class="arrow_left-right_alt"></i></a>
								</div>
							</div>
							<!-- Product Info -->
							<div class="product-info mt-15 text-center">
								<a href="shop-details.html">
									<p>Cactus Flower</p>
								</a>
								<h6>$10.99</h6>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div id="script">
		<script>
			var categoryImage = document.querySelectorAll(".image.col-md-6");

			categoryImage.forEach((e, i) => {
				if (i >= 6) {
					e.style.display = "none";
				}
				if (i == 5) {
					var x = document.createElement("div");
					x.classList.add("see-all");
					x.innerHTML = `
					
						<a id="seeall">See all</a>
				
					`;
					e.appendChild(x)
				}

			});

		</script>
		<script>
			$('#seeall').click((e) => {
				var g = document.querySelectorAll("#gallery img");
				var categoryImage = document.querySelectorAll(".image.col-md-6 img");
				var src = categoryImage[0].currentSrc;
				Popup({
					values: g,
					src: src,
				});
				changeImage();
				activeImage();
				changeButton();
			})
		</script>
	</div>
</body>

</html>